# Java
*.class
*.jar
*.war
*.ear

# Eclipse
.project
.classpath
.settings

# Idea
.idea
*.iml
*.iws
*.ipr

# OS
Thumbs.db
.DS_Store

# Gradle
.gradle
!gradle-wrapper.jar

# new_will.co21.format.json
!net.will_co21.format.json-0.0.1-SNAPSHOT.jar
# Maven
target

# Build
out
build
bin

# Other
*.log
*.swp
*.bak
images

# settings
settings.json
apikeys.json

# log
application.log
debug.log